__pycache__
.cache
.DS_Store
.eggs
.idea/
.installed.cfg
.kube/
.mr.developer.cfg
.mypy_cache
.python-version
*.egg-info
*.fs
*.index
*.lock
*.pyc
*.tmp
/.coverage
/.env/
bin/
develop-eggs/
eggs/
pip-wheel-metadata/
venv/
virtualenv/
*.http
